.select-editable {
    position:relative;
    background-color:white;
    border:solid grey 1px;
    width:280px;
    height:28px;
}
.select-editable select {
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    border:none;
    width:275px;
    height:26px;
    margin:0;
}
.select-editable input {
    position:absolute;
    top:0px;
    left:4px;
    padding:1px;
    font-size:16px;
    height:24px;
    border:none;
}
.select-editable select:focus, .select-editable input:focus {
    outline:none;
}
.daniel {
    height:28px;
    width:280px;
    font-size:16px;
   
    border:solid grey 1px;
}
